# This is a good article about git config options: https://jvns.ca/blog/2024/02/16/popular-git-config-options/
# As is this one: https://blog.gitbutler.com/how-git-core-devs-configure-git/
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
[init]
	defaultBranch = main
[core]
	{{- if eq .git.editor "nvim" }}
	editor = nvim
	{{- else if eq .git.editor "code" }}
	editor = code --wait
	{{- end -}}
	{{- if eq .chezmoi.os "windows" }}
	# Use the system SSH instead of Git Bash's SSH so the ssh-agent works correctly
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	{{- end }}
[help]
	autocorrect = prompt
[commit]
	verbose = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
	followTags = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictStyle = zdiff3
	{{ if eq .git.editor "nvim" -}}
	tool = nvimdiff
	{{- else if eq .git.editor "code" -}}
	tool = code
	{{- end }}
[mergetool]
	writeToTemp = true
	keepBackup = false
[mergetool "nvimdiff"]
	layout = "LOCAL,BASE,REMOTE / MERGED"
[mergetool "diffconflicts"]
	cmd = nvim -c DiffConflicts "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	# TODO: Use :DiffTool in nvim
	{{- if eq .git.editor "nvim" }}
	tool = nvimdiff
	{{- else if eq .git.editor "code" }}
	tool = code
	{{- end }}
	external = difft --color=always
[difftool "code"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	st = status
	l = log --graph --decorate --pretty=oneline --abbrev-commit
{{- if eq .chezmoi.os "windows" }}
[http]
	# Use Windows' SSL so Visual Studio doesn't complain about missing certificates
	# See https://github.com/scalingexcellence/scrapybook/issues/36
	sslBackend = schannel
{{- end }}
