#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = {{ .git.name | quote }}
email = {{ .git.email | quote }}

[ui]
default-command = "log"

{{ if eq .git.editor "nvim" -}}
editor = "nvim"
{{- else if eq .git.editor "code" -}}
{{ if eq .chezmoi.os "windows" -}}
editor = "code.cmd -w"
{{- else -}}
editor = "code -w"
{{ end -}}
{{- end }}

diff-formatter = ["difft", "--color=always", "$left", "$right"]
diff-editor = ":builtin"

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c",
    "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c",
    "JJDiffConflicts!",
    "$output",
    "$base",
    "$left",
    "$right",
]
merge-tool-edits-conflict-markers = true

[git]
private-commits = "blacklist()"

[remotes.origin]
auto-track-created-bookmarks = "*"

[revset-aliases]
"at" = "@"

# Prevent Private and WIP commits from being pushed
"wip()" = "description(glob:'wip:*')"
"private()" = "description(glob:'private:*')"
"blacklist()" = "wip() | private()"

# Closest commit that can be pushed
"closest_pushable(to)" = 'heads(::to & mutable() & ~description(exact:"") & ~blacklist() & (~empty() | merges()))'

[aliases]
# Find the closest ancestor with a bookmark, and move the bookmark to the parent of the working copy
tug = [
    "bookmark",
    "move",
    "--from",
    "heads(::@- & bookmarks())",
    "--to",
    "closest_pushable(@)",
]

[template-aliases]
"format_short_signature(signature)" = "signature.name()"
"format_timestamp(timestamp)" = "timestamp.ago()"

[templates]
# Show diff when editing commit description, similar to commit.verbose setting from git
draft_commit_description = '''
    concat(
        coalesce(description, default_commit_description, "\n"),
        "JJ: Change ID: " ++ format_short_change_id(change_id) ++ "\n",
        surround(
            "JJ: This commit contains the following changes:\n",
            "",
            indent("JJ:     ", diff.summary()),
        ),
        "JJ:\n",
        "JJ: ignore-rest\n",
        diff.git(),
    )
'''

[[--scope]]
--when.platforms = ["windows"]
[--scope.working-copy]
eol-conversion = "input-output"